# Backend Environment Variables
PORT=3000
DB_CONNECT=mongodb+srv://<username>:<password>@cluster.mongodb.net/myride
JWT_SECRET=myride_super_secret_jwt_key_12345
GOMAPS_API=optional_google_or_gomaps_api_key
